<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QA Click Academy Suite">

  <test thread-count="5" name="Basic Tests">
  
    <classes>
      <class name="Project.HomePageTest"/>
      <class name="Project.LoginPageTest"/>
    </classes>
    
  </test> <!-- Basic Tests -->
  
</suite> <!-- QA Click Academy Suite -->
